p1 {
  font-family: courier;
  font-size: 25px;
  }

  p2 {
  font-family: courier;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  }
  
  p3 {
  font-family: 'Kreon', serif;
  font-size: 24px;
  }
  
  p4 {
  font-family: 'Kreon', serif;
  font-size: 24px;
  font-weight: bold;
  }

  p5 {
  font-family: 'Kreon', serif;
  font-size: 24px;
  }

  p6 {
  font-family: 'Kreon', serif;
  font-size: 36px;
  font-weight: bold;
  }

